# Variáveis de ambiente (opcional)
# Author: Matheus Cavalcanti Pestana <matheus.pestana@fgv.br>

CNPJ_DB_PATH=./data/cnpj.duckdb
CNPJ_ZIP_DIR=./dados-publicos-zip
CNPJ_CSV_DIR=./dados-publicos
CNPJ_DATA_DIR=./data
CNPJ_SHARE_TOKEN=YggdBLfdninEJX9
CNPJ_QUERY_LIMIT=1000
CNPJ_MAX_QUERY_LIMIT=10000
